.advantages {
  padding-top: 42px;
  background-color: @white;
}

.advantages__title {
  width: 280px;
  margin: 0 auto 32px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.advantages__text {
  width: 280px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.advantages__list {
  margin: 0;
  padding: 0;
  padding-top: 116px;
  line-height: 14px;
  list-style: none;
  background-color: @grey;
  background-image: url("./../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top;
}

.advantages__item {
  margin: 0 auto;
  padding: 0 34px 31px;
  text-align: center;

  &--friends {
    min-height: 426px;
    background-image: url("./../img/iphone-screen-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: center 150px;
  }
}

.advantages__heading {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: @black;
}

.advantages__paragraph {
  margin: 0;
  padding-top: 12px;
  font-weight: 300;
  line-height: 24px;
}
