.contest {
  background-color: @white;

  &__paragraph {
    width: 280px;
    margin: 0 auto;
    padding-top: 46px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
}

.contest__paragraph-cut {
  display: none;
}

.contest__form {
  background-color: @white;
}


.contest__form-checkbox-container {
  background-color: @grey;
}


.contest__form-radio-container {
  background-color: @grey;
}

.contest__form-item {
  padding: 34px 0 25px;
  background-color: @white;
  border: none;

  &--checkbox {
    margin: 0 auto;
    width: 320px;
    padding-bottom: 0;
    background-color: @grey;
  }

  &--radio {
    margin: 0 auto;
    width: 320px;
    padding-bottom: 0;
    background-color: @grey;
  }

  &--textarea {
    padding-top: 16px;
  }
}

.contest__form-legend {
  margin: 0 auto;
  padding: 0 10px 40px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: @pink;
  background-color: @white;

  &--checkbox {
    padding: 38px 40px 8px;
    background-color: @grey;
  }

  &--radio {
    background-color: #f2f2f2;
    padding: 36px 40px 5px;
  }

  &--textarea {
    padding: 0;
    padding-top: 40px;
  }

  &--show {
    display: none;
  }
}

.contest__about-wrapper {
  width: 276px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.contest__about-title {
  display: inline-block;
  margin-bottom: 5px;
  padding-left: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

.contest__about-text {
  width: 276px;
  padding: 15px 20px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @border-color;

  &:hover,
  &focus {
    border: 2px solid @dark;
    transition: @animation;
  }

  &:focus {
    border: 2px solid @pink;
  }

  &::placeholder {
    font-size: 18px;
    color: @dark;
  }
}

.contest__checkbox-wrapper {
  padding: 0 22px 55px;
  background-color: @grey;

  &:last-of-type {
    padding-bottom: 47px;
  }
}

.contest__checkbox-title {
  font-size: 18px;
  line-height: 30px;
}

.contest__checkbox-option:checked,
.contest__checkbox-option:not(:checked) {
  position: absolute;
  opacity: 0;
}

.contest__checkbox-option:checked + .contest__checkbox-title,
.contest__checkbox-option:not(:checked) + .contest__checkbox-title {
  position: relative;
  display: inline-block;
  padding-left: 66px;
  vertical-align: middle;
  cursor: pointer;
}

.contest__checkbox-option:checked + .contest__checkbox-title::before,
.contest__checkbox-option:not(:checked) + .contest__checkbox-title::before {
  content: "";
  position: absolute;
  left: -3px;
  top: -4px;
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  border: 2px solid @border-color;
  background-color: @white;
}

.contest__checkbox-option:checked + .contest__checkbox-title::before {
  background-image: url("./../img/sprite-icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.contest__radio-wrapper {
  padding: 0 22px 45px;
  background-color: @grey;
}

.contest__radio-title {
  font-size: 18px;
  line-height: 30px;
}

.contest__radio-option:checked,
.contest__radio-option:not(:checked) {
  position: absolute;
  margin-left: 5px;
  opacity: 0;
}

.contest__radio-option:checked + .contest__radio-title,
.contest__radio-option:not(:checked) + .contest__radio-title {
  position: relative;
  display: inline-block;
  padding-left: 67px;
  vertical-align: middle;
  cursor: pointer;
}

.contest__radio-option:checked + .contest__radio-title::before,
.contest__radio-option:not(:checked) + .contest__radio-title::before {
  content: "";
  position: absolute;
  left: -2px;
  top: -4px;
  width: 39px;
  height: 39px;
  background-repeat: no-repeat;
  background-color: @white;
  border: 2px solid @border-color;
  border-radius: 50%;
}


.contest__radio-option:checked + .contest__radio-title::before {
  background-image: url("./../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.contest__radio-option + .contest__radio-title:hover::before,
.contest__checkbox-option + .contest__checkbox-title:hover::before,
.contest__radio-option:focus + .contest__radio-title::before,
.contest__checkbox-option:focus + .contest__checkbox-title::before {
  border-color: @dark;
  transition: @animation;
}

.contest__radio-option + .contest__radio-title:active::before,
.contest__checkbox-option + .contest__checkbox-title:active::before {
  border-color: @pink;
}

.contest__checkbox-option:disabled + .contest__checkbox-title::before,
.contest__radio-option:disabled + .contest__radio-title::before,
.contest__radio-option:disabled + .contest__radio-title,
.contest__checkbox-option:disabled + .contest__checkbox-title {
  opacity: 0.7;
  border-color: @border-color;
  cursor: not-allowed;
}

.contest__about-textarea {
  width: 280px;
  min-height: 201px;
  padding: 15px 17px;
  font-size: 18px;
  line-height: 30px;
  border: 2px solid @border-color;

  &:hover,
  &:focus {
    border: 2px solid @dark;
    transition: @animation;
  }

  &:focus {
    border: 2px solid @pink;
  }

  &::placeholder {
    font-size: 18px;
    color: @dark;
  }
}

.contest__wrapper-btn-note {
  width: 320px;
  margin: 0 auto;
  background-color: @white;
}

.contest__form-btn {
  width: 276px;
  margin: 3px 22px 35px;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
  border: solid 2px @green;
  border-radius: 4px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @green-hover;
    border: 2px solid @green-hover;
    transition: @animation;
  }

  &:active {
    color: @white-active;
  }

  &:disabled {
    background-color: @border-color;
    border: solid 2px @border-color;
  }
}

.contest__form-footnote {
  margin-bottom: 15px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}

.contest__form-note {
  font-weight: 400;
}

.contest__form-note-desk {
  font-size: 0;
}

.contest__form-star {
  color: @pink;
}

@media (min-width: 660px) {
  .contest__paragraph {
    padding: 92px 0 40px;
    width: 500px;
    font-size: 18px;
  }

  .contest__paragraph-cut {
    display: block;
  }

  .contest__form {
    display: flex;
    flex-direction: column;
  }

  .contest__form-checkbox-container {
    order: 3;
    margin-top: 57px;
    background-color: @white;
  }

  .contest__form-radio-container {
    background-color: @white;
  }

  .contest__radio-option:checked + .contest__radio-title,
  .contest__radio-option:not(:checked) + .contest__radio-title {
    padding-left: 59px;
  }

  .contest__form-wrapper {
    display: flex;
    flex-direction: column;
  }


  .contest__form-item {
    width: 620px;
    margin: 0 auto;
    margin-bottom: 55px;
    background-color: @white;
    border: 2px solid @grey;

    &--name {
      order: 0;
      margin: 0 auto;
      padding-top: 30px;
      padding-bottom: 8px;
      border: none;
    }

    &--checkbox {
      width: 620px;
      padding-top: 50px;
      padding-bottom: 5px;
    }

    &--phone {
      order: 2;
      padding-bottom: 20px;
      margin: 0 auto;
    }

    &--radio {
      order: -1;
      width: 620px;
      padding-bottom: 30px;
    }

    &--textarea {
      order: 4;
      padding-top: 39px;
      padding-bottom: 0;
    }
  }

  .contest__form-legend {
    background-color: @white;
    padding: 0 26px;

    &--show {
      display: block;
    }

    &--textatea {
      padding: 0 37px;
    }
  }

  .contest__about-wrapper {
    width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 51px;

    &--contacts {
      position: relative;
      flex-direction: column-reverse;
    }

    &--contacts::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 60px;
      height: 60px;
      background-image: url("./../img/icon-phone.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: @border-color;
    }

    &--email::before {
      content: "";
      position: absolute;
      top: 2px;
      right: 2px;
      width: 60px;
      height: 60px;
      background-image: url("./../img/icon-mail.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: @border-color;
    }

    &--phone {
      align-items: start;
      width: 500px;
      margin-bottom: 30px;
    }

    &--email {
      align-items: start;
      width: 500px;
      margin-bottom: 5px;
    }
  }

  .contest__about-text--grow {
    flex-grow: 2;
  }

  .contest__about-title {
    margin-bottom: 0;
    padding: 10px 0 0 19px;

    &--name {
      padding-left: 0;
      padding-right: 18px;
    }
  }

  .contest__about-text {
    width: 525px;
    min-height: 64px;

    &--phone {
      width: 500px;
    }

    &--email {
      width: 500px;
    }
  }

  .contest__checkbox-wrapper {
    padding: 0 60px 55px;
    background-color: @white;
  }

  .contest__checkbox-option:checked + .contest__checkbox-title,
  .contest__checkbox-option:not(:checked) + .contest__checkbox-title {
    padding-left: 59px;
  }

  .contest__radio-wrapper {
    background-color: @white;
    padding: 15px 0 30px 60px;
  }

  .contest__about-textarea {
    width: 496px;
    min-height: 193px;
    margin: 0 auto;
    padding-right: 10px;
  }

  .contest__wrapper-btn-note {
    display: flex;
    width: 620px;
    justify-content: space-between;
    align-items: baseline;
    margin: 12px auto 45px;
  }

  .contest__form-btn {
    width: 298px;
    margin: 0;
  }

  .contest__form-footnote {
    width: 183px;
  }
}

@media (min-width: 960px) {
  .contest__paragraph {
    width: 760px;
  }

  .contest__paragraph-cut {
    display: inline-block;
  }

  .contest__form {
    width: 960px;
    margin: 0 auto;
  }

  .contest__form-legend {
    padding: 0 37px;
  }

  .contest__form-legend--radio {
    padding: 0 25px;
  }

  .contest__form-wrapper {

    flex-direction: row;
    flex-wrap: wrap;
  }

  .contest__form-item {
    width: 936px;

    &--name {
      width: 438px;
      padding-top: 43px;
      margin: 0 68px 0 6px;
    }

    &--radio {
      width: 438px;
    }

    &--phone {
      padding-bottom: 13px;
    }

    &--checkbox {
      padding-bottom: 11px;
    }

    &--textarea {
      margin-bottom: 45px;
      padding-top: 33px;
    }
  }

  .contest__fieldset-phone-wrapper {
    display: flex;
    justify-content: space-between;
    width: 820px;
    margin: 0 auto;
  }

  .contest__form-radio-container {
    padding-top: 32px;
  }

  .contest__radio-wrapper {
    padding-left: 77px;
  }

  .contest__form-checkbox-container {
    order: 3;
    margin: 57px auto 0;
  }

  .contest__checkbox-flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 820px;
    margin: 0 auto;
  }

  .contest__checkbox-wrapper {
    padding: 0 0 52px;
  }

  .contest__about-wrapper {
    width: 816px;

    &--name {
      width: 431px;
    }

    &--radio {
      width: 450px;
    }

    &--contacts {
      width: 375px;
      margin: 0;
    }
  }

  .contest__about-text {
    width: 336px;

    &--phone {
      width: 375px;
    }

    &--email {
      width: 375px;
    }
  }

  .contest__about-textarea {
    width: 816px;
    min-height: 130px;
  }

  .contest__wrapper-btn-note {
    width: 938px;
    margin-bottom: 0;
  }

  .contest__form-footnote {
    width: 314px;
  }

  .contest__form-note-desk {
    font-size: inherit;
  }
}
