.page-footer {
  position: relative;
  text-align: center;
}

.footer__contacts {
  padding-top: 43px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  background-color: @white;
}

.footer__contacts-container {
  width: 320px;
  margin: 0 auto;
}


.page-footer__map-wrapper {
  position: relative;
  z-index: 100;
  width: 100%;
  height: 200px;
  background-image: url("./../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 62px;
    background-image: url("./../img/bg-triangle-white-footer.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center -21px;
  }
}

.page-footer__map {
  width: 100%;
}

.page-footer__social-wrapper {
  width: 280px;
  padding-top: 39px;
  margin: 0 auto;

  &--cut {
    display: none;
  }
}

.page-footer__social {
  display: flex;
  justify-content: space-between;
  width: 180px;
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
  list-style: none;
}

.page-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 51px;
  height: 51px;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid @dark-opac;

  &:hover {
    border: 3px solid @dark;
  }

  &:active {
    border: 3px solid @dark;
    opacity: 0.3;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;
  width: 130px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  line-height: 18px;
}

.page-footer__copyright-text {
  margin-right: 15px;
  font-weight: 400;
  line-height: 18px;
}

.page-footer__copyright-academy {
  fill: @pink;

  &:hover {
    fill: @dark;
  }

  &:active {
    opacity: 0.3;
  }
}


@media (min-width: 660px) {
  .footer__contacts-container {
    width: 660px;
  }

  .footer__contacts {
    padding-top: 48px;
  }

  .page-footer__map-wrapper {
    width: 100%;
    height: 370px;
    background-image: url("./../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      height: 123px;
      background-image: url("./../img/bg-triangle-white-footer.svg");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center -59px;
      background-size: cover;
    }
  }

  .page-footer__map {
    height: 370px;
  }

  .page-footer__social-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 620px;
  }

  .page-footer__social {
    margin: 0;
    padding-top: 0;
  }

  .page-footer__copyright {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .footer__contacts-container {
    width: 1200px;
  }

  .page-footer__social-wrapper {
    width: 940px;
  }

  .page-footer__copyright-text {
    font-size: 18px;
  }

  .page-footer__map-wrapper {
    width: 100%;
    height: 500px;
    background-image: url("./../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      height: 140px;
      background-image: url("./../img/bg-triangle-white-footer.svg");
      background-repeat: no-repeat;
      background-color: transparent;
      background-position: center top;
      background-size: cover;
    }
  }

  .page-footer__map {
    min-height: 500px;
  }
}
