.page-main {
  position: relative;
  top: -65px;
  margin: 0 auto;
  margin-bottom: -65px;
  padding-top: 65px;
  text-decoration: none;
  background-image: url("./../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -3px;
  background-color: @dark;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("./../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.page-main__title {
  margin: 0;
  padding: 0 5px;
  color: @white;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.page-main__heading {
  margin: 0;
  padding: 31px 25px 0;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: @white;
}

.page-main__container {
  position: relative;
  width: 280px;
  min-height: 170px;
  margin: 0 auto;

  &--index {
    padding-top: 24px;
  }

  &--index::before {
    content: "";
    position: absolute;
    top: 110px;
    left: -30px;
    display: block;
    width: 100%;
    height: 314px;
    background-image: url("./../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("./../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
    }
  }
}


@media (min-width: 660px) {
  .page-main {
    top: -107px;
    margin-bottom: -107px;
    padding-top: 107px;
    background-image: url("./../img/bg-back-tablet@1x.jpg");
    background-position: center -4px;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("./../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
      background-position-y: -2px;
    }
  }

  .page-main__container {
    width: 640px;
    min-height: 328px;
    margin: 0 auto;

    &--index::before {
      content: "";
      position: absolute;
      top: 73px;
      left: 0;
      z-index: 0;
      display: block;
      width: 100%;
      height: 545px;
      background-image: url("./../img/iphone-hand-tablet@1x.png");
      background-repeat: no-repeat;
      background-position: bottom center;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("./../img/iphone-hand-tablet@2x.png");
        background-size: 700px auto;
      }
    }

    &--index {
      padding-top: 96px;
    }
  }

  .page-main__title {
    margin-right: 375px;
    padding-left: 55px;
    font-size: 40px;
  }

  .page-main__heading {
    font-size: 50px;
    line-height: 60px;
    padding: 70px 75px 0;

    &--index {
      font-size: 40px;
      padding: 103px 400px 0 78px;
    }
  }
}

@media (min-width: 960px) {
  .page-main {
    position: relative;
    top: -106px;
    background-image: url("./../img/bg-back-desktop@1x.jpg");
    background-position: center 12px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("./../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }

  .page-main__container {
    width: 960px;
    position: relative;
    background-image: none;
    min-height: 289px;

    &--index::before {
      content: "";
      position: absolute;
      top: 104px;
      left: 191px;
      width: 720px;
      height: 645px;
      background-image: url("./../img/iphone-hand-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: bottom center;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("./../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }

    &--index {
      padding-top: 113px;
    }
  }

  .page-main__title {
    width: 300px;
    margin: 0 0 0 5px;
    padding: 0 0 0 11px;
    font-size: 50px;
    line-height: 60px;
  }
}
