.page-main {
  position: relative;
  top: -65px;
  padding-top: 65px;
  text-decoration: none;
  background-color: @white;
  background-image: url("./../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.page-main__heading {
  margin: 0;
  padding: 31px 45px 86px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: @white;
}

.page-main__heading--index {
  padding: 25px 45px 80px;
}
