.price {
  background-color: #f2f2f2;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: center -9px;
}

.price__container {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 115px 0 100px;
  overflow: hidden;
}

.price__table {
  margin: 0 auto;
  width: 828px;
  table-layout: fixed;
  transform: translateX(-530px);
  background-color: @grey;
  border-collapse: collapse;
}

.price__title {
  text-align: center;
  color: @white;
}

.price__title-blog {
  width: 276px;
  padding: 18px 70px;
  background-color: @dark;
  border: 2px solid @grey;
  text-align: center;

  &--column1 {
    background-color: transparent;
  }
}

.price__title-label {
  position: absolute;
  width: 74px;
  height: 73px;
  background-image: url("./../img/bg-hit.svg");
  background-repeat: no-repeat;
  transform: translate(-73px, -18px);
}

.price__title-text {
  display: inline-block;
  line-height: 21px;
  font-weight: 300;
  text-transform: uppercase;
  transform: rotate(-45deg) translate(-22px, 1px);
}


.price__title-name {
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.price__title-cost {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.price__options {
  border: 2px solid @border-color;
}

.price__options-access {
  line-height: 30px;
  text-transform: uppercase;
  color: @dark;
  background-color: white;
  border: 2px solid @border-color;

  &--cut {
    visibility: hidden;
  }
}

.price__options-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 15px 17px 11px;
}

.price__image-no {
  display: block;
  fill: @icon-no;
}

.price__image-yes {
  display: block;
  fill: @icon-yes;
}

.price__toggles {
  position: absolute;
  top: 435px;
  left: 50%;
  margin-left: -40px;
}

.price__toggle {
  width: 6px;
  height: 6px;
  margin-left: 15px;
  padding: 0;
  vertical-align: middle;
  transform: translateX(-5px);
  background-color: @dark;
  opacity: 0.3;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &--active {
    background-color: @white;
    opacity: 1;
    border: 3px solid @dark;
    width: 12px;
    height: 12px;
  }

  &:hover,
  &:focus {
    background-color: @dark;
    opacity: 0.6;
    transition: @animation;
  }

  &:active {
    background-color: @dark-transparent;
  }
}

@media (min-width: 660px) {
  .price {
    background-position: center -23px;
  }

  .price__container {
    width: 660px;
    padding: 84px 0 67px;
  }

  .price__options-wrapper {
    justify-content: center;
    padding: 8px;
  }

  .price__options-access {
    width: 153px;
    padding: 2px;

    &--cut {
      visibility: visible;
      padding-left: 15px;
      text-transform: inherit;
      border: none;
    }

    &--available {
      background-position: center;
    }

    &--not-available {
      background-position: center;
    }
  }

  .price__options-mobile-only {
    display: none;
  }

  .price__table {
    margin: 0 auto;
    width: 612px;
    transform: none;
    table-layout: fixed;
    background-color: @white;
    border-collapse: collapse;
  }

  .price__title-blog {
    width: 155px;
    padding: 13px 30px 7px;

    &--column1 {
      background-color: @grey;
    }
  }

  .price__title-label {
    width: 61px;
    height: 61px;
    background-image: url("./../img/bg-hit-tablet.svg");
    background-repeat: no-repeat;
    transform: translate(-30px, -11px);
  }

  .price__title-text {
    transform: rotate(-45deg) translate(-14px, -2px);
  }

  .price__title-name {
    font-size: 16px;
  }

  .price__title-cost {
    font-size: 18px;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: 960px) {
  .price {
    padding-top: 40px;
    background-position: top;
    background-size: contain;
  }

  .price__container {
    width: 960px;
    padding: 121px 0 96px;
  }

  .price__table {
    width: 940px;
  }

  .price__title-blog {
    padding: 16px 30px 20px;
  }

  .price__title-label {
    width: 74px;
    height: 73px;
    background-image: url("./../img/bg-hit.svg");
    background-repeat: no-repeat;
    transform: translate(-30px, -16px);
  }

  .price__title-text {
    transform: rotate(-45deg) translate(-20px, 2px);
  }

  .price__title-name {
    font-size: 18px;
  }

  .price__title-cost {
    font-size: 24px;
  }

  .price__options-wrapper {
    padding: 15px;
  }

  .price__options-access--cut {
    padding-left: 20px;
    font-size: 18px;
  }
}
