@dark: #283645;
@dark-transparent: rgba(40, 54, 69, 0.1);
@black-transparent:rgba(0, 0, 0, 0.3);
@black: #000000;
@white: #ffffff;
@white-active: rgba(255, 255, 255, 0.3);
@pink: #d22856;
@pink-transparent: rgba(210, 40, 86, 0.3);
@grey: #f2f2f2;
@border-color: #e5e5e5;
@green: #2aab6d;
@green-hover: #1c9b5e;
@icon-no: #f25b26;
@icon-yes: #3dc644;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@animation: 0.2s ease;
